[Unit]
Description=Limelight USB Gadget
After=local-fs.target
Before=network.target

[Service]
Type=oneshot
ExecStart=$GADGET_SCRIPT_PATH
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target